
.footer-main-container{
    display: flex;
    width: 100%;
    margin-top: 0px;
    font-family: var(--font-family2);
    background-color: var(--main-colour2);
}
.container{
    display: flex;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.col-4{
    padding-top: 25px;
}
.container .col-4 .header{
    margin-top: 50px;
    font-family: var(--font-family1);
    color: var(--main-colour1);
    font-size: 50px;
}
.container .col-4 .header-line{
    font-family: var(--font-family2);
    color: var(--main-colour1);
    font-size: 18;
}
.container .col-4 h2{
    font-family: var(--font-family2);
    color: var(--main-colour1);
    font-size: 25px;
    margin-bottom: 20px;
}
.container .col-4 .timing{
    line-height: 25px;
    color: var(--main-colour3);
}
.container .col-4 .news-letter{
    color: var(--main-colour3);
}
.input-field-footer input{
    font-family: var(--font-family2);
    text-align: left;
    width: 250px;
    height: 40px;
    border: #333333 solid 1px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-button{
    font-family: var(--font-family2);
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    background-color: var(--main-colour1);
    border: 2px solid var(--main-colour1);
}
.footer-button:hover{
    background-color: transparent;
    color: var(--main-colour3);
    border: 2px solid var(--main-colour1);
}