.info{
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    background-color: var(--main-colour2);
    justify-content: space-between;
    margin-top: -27px;
    z-index: 1000;
}
.info .col-4{
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--font-family2);
    color: white;
}
/* .info .num{
    font-size: 15px;
    font-family: var(--font-family2);
    color: white;
}
.info .email{
    font-size: 15px;
    font-family: var(--font-family2);
    color: white;
}
.info .time{
    float: right;
    font-size: 15px;
    font-family: var(--font-family2);
    color: white;
} */

.main-row{
    display: flex;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--main-colour2);
    z-index: 1000;
    margin-top: 30px;
    height: 75px;
    position: fixed;
}
.main-row .scrolled{
    background-color: var(--main-colour2);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0.8% 1%;
}
.navbar .logo-link{
    font-weight: 800;
    font-size: 30px;
    font-family: var(--font-family2);
    color: var(--main-colour3);
    background-color: transparent;
}
.navbar .routes-links a{
    font-family: var(--font-family2);
    font-size: 15px;
    font-weight: 600;
    position: relative;
    color: var(--main-colour3);
    transition: color 0.3s ease-in-out;
    margin:0 1rem;
}
.navbar .routes-links a:hover{
    color: var(--main-colour1);
}

.navbar .login-btn{
    display: block;
    height: 100%;
}

.navbar .login-btn button{
    height: 100%;
    font-family: var(--font-family2);
    font-weight: 600;
    padding: 10px 25px;
    background-color: var(--main-colour1);
    color: var(--main-colour3);
    border: 2px solid var(--main-colour1);
}
.navbar .login-btn button:hover{
    background-color: transparent;
    color: var(--main-colour3);
    border: 2px solid var(--main-colour1);
}

.user-btn button{
    color: var(--main-colour1);
    padding: 10px 25px;
    margin-right: 10px;
    background-color: transparent;
}

.logout-btn button{
    height: 100%;
    margin-left: 0;
    font-family: var(--font-family2);
    font-weight: 600;
    padding: 10px 25px;
    background-color: var(--main-colour1);
    color: var(--main-colour3);
    border: 2px solid var(--main-colour1);
}

.logout-btn button:hover{
    background-color: transparent;
    color: var(--main-colour3);
    border: 2px solid var(--main-colour1);
}

.addtocart-btn button{
    color: var(--main-colour1);
    padding: 10px 25px;
    background-color: transparent;

}
.login-final{
    display: flex;
}

